{% set title = "Change Password" %}

{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/account-form.css') }}" type="text/css"/>
{% endblock %}

{% block content %}
<div class="container">
    <div class="account-form">
        <h1>Change Password</h1>
        <form class="mt-5" method="POST" action="{{ url_for('account.post_change_password') }}">
            <div class="mb-3">
                <label for="password" class="form-label">Current Password</label>
                <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Password..." required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">New Password</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Password..." required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Confirm New Password</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Password..." required>
            </div>
            <div class="mb-3">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="notification">
                        <small>{{ messages[0] }}</small>
                    </div>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Change Password</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
    var passwordConfirmed = false;
    $("form").on("submit", function (e) {
        if (passwordConfirmed == false) {
            e.preventDefault();
        }
    });

    $('button').click(function(){
        if ($("#newPassword").val() == $("#confirmPassword").val() && $("#newPassword").val() != "") {
            passwordConfirmed = true;
        }
    });
</script>
{% endblock %}
